.animate {
    animation: fadeIn 1 s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


body {
    background-image: url('city.png');
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Arial', sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    animation: fadeInBackground 1s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}


@keyframes fadeInBackground {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


.fade-out {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.header {
    backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.7);
    padding: 15px;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    animation: slideInFromTop 1s ease-out;
}

@keyframes slideInFromTop {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

.header h1 {
    font-size: 2.5rem;
    color: #2a5298;
    margin: 0;
}

.header p {
    font-size: 1rem;
    color: #555;
}

.logo {
    width: 100px;
    animation: bounceIn 1.5s ease-in-out;
}

@keyframes bounceIn {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}

.center {
    text-align: center;
    margin-top: 40px;
    animation: fadeIn 1.5s ease-in-out 1s;
    animation-fill-mode: backwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.start-btn {
    padding: 15px 25px;
    background: #ffcc00;
    color: #fff;
    font-size: 1.5rem;
    border-radius: 8px;
    border: none;
    text-transform: uppercase;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.2s, box-shadow 0.2s;
    cursor: pointer;
}

.start-btn:hover {
    background: #ffa500;
    transform: scale(1.1);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}


.footer {
    background: rgba(255, 255, 255, 0.9);
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.1);
    font-size: 0.9rem;
    color: #555;
    animation: fadeInFooter 2s ease-in-out 2s;
    animation-fill-mode: backwards;
}

@keyframes fadeInFooter {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.footer a {
    color: #2a5298;
    text-decoration: none;
    transition: color 0.3s;
}

.footer a:hover {
    color: #ffa500;
}
